body {
  /*background-color: papayawhip;*/
  background-color: white;

}

h4 {
  line-height: 0px;
}

.col-xs-4 {
    background: white;
    height: 200px;
  /*margin: 0 auto;*/
  /*float:none;*/
}

[class*="col"] {
    height: 60%;
    background:WhiteSmoke;
/*  float:none;*/
  }
  /* either add "float-none on the specific column or attribute selector above or add a style for center-block with float:none */

.center-block {
  float:none;
}
h3 {
  text-align:center;
  margin-top: 40px;
}
.example2 {
  margin-top: 20px;
}

div {
  padding: 50px;
  text-align: center;
}
